@model StoreLib.Entities.Product

@{
    ViewBag.Title = "Admin: Edit " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Редактировать @Model.Name</h1>
@using (Html.BeginForm("Edit", "Admin",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()
    <div class="editor-label">Image</div>
    <div class="editor-field">
        @if (Model.ImageData == null)
        {
            @:Нет изображения
        }
        else
        {
            <img width="150" height="150" src="@Url.Action("GetImage", "Product", new {
Model.ProductID })" />
        }
        <div>
            Загрузить изображение:
            <input type="file" name="Image" />
        </div>
    </div>
    <input type="submit" value="Сохранить" class=" buttonforadmin" />
    @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "buttonforadmin" })
}


